.box {
    height: 600px;
    padding: 20px;
    color: #fff;
    background: LightBlue;
  }
  body {
    background-color: GhostWhite;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }